html, body {
    margin: 0;
    padding: 0;
    background: #c6c6c6;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 375px;
    height: 67px;
    border-bottom:  1px solid #c6c6c6;
    background: #fff;
    margin: 10px auto 0 auto;
}

.logo {
    width: 127px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.container {
    width: 375px;
    height: 535px;
    background-color: #fff;
    margin: 0 auto 25px auto;
}

.user-info {
    width: 348px;
    height: 40px;
    display: flex;
}

.user-info img {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: 10px 10px 10px 10px;
}

h5 {
    display: inline-block;
    margin: 13px 0 2px 0;
    font-weight: 700;
    font-size: 13px;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
}

.post-img img {
    height: 375px;
    width: 375px;
    margin-top: 10px;
}
.post {
    margin-left: 10px;
    font-size: 13px;
}

.icons img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    margin-top: 10px;
    width: 104px;
    height: 22px;
}

.bold {
    font-weight: 700;
}

.likes {
    margin-bottom: 12px;
}

.comment {
    line-height: 16px;
}